<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="item in items">
        <label v-bind:class="{ done: item.isChecked }">
          <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
        </label>
      </li>
    </ul>
    <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
    <p>
      <input type="text"
        placeholder="TODOを入力しましょう！"
        v-model="newItemTitle"
        v-on:keyup.enter="addTodo(newItemTitle)">
    </p>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="todo.js"></script>
<style>
  .done { text-decoration: line-through; }
</style>
</html>